<app-header></app-header>



<div class="container">

  <h3>Категории</h3>

    <form  class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
          <label for="name"
                 class="sr-only"
          ></label>
          <input type="text"
       class="form-control"
                 placeholder="Название"
          >
        </div>

      <div class="form-group mx-sm-3 mb-2">
        <label for="exampleFormControlSelect1"
               class="sr-only"
        >Тип</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option selected>Выберите</option>
          <option value="1">Доход</option>
          <option value="2">Расход</option>
        </select>
      </div>
    </form>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <ul class="list-group list-group-horizontal-xl">
        <li class="list-group-item list-group-item-success">Зарплата</li>
        <li class="list-group-item list-group-item-success">30000 рублей</li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-group list-group-horizontal-xl">
        <li class="list-group-item list-group-item-danger">Магазин</li>
        <li class="list-group-item list-group-item-danger">1435 рублей</li>
      </ul>
    </div>
  </div>
</div>
